/* RESET */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* UTILS */

.debug * {
  min-height: 100px;
  padding: 5px;
  background-color: #ff000022;
  border: 2px dashed red;
}

.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.container-pink {
  background-color: pink;
}

.container-blue {
  background-color: blue;
}

/* HEADER */

header {
  background-color: aquamarine;
}

header .container.top-header {
  background-color: chocolate;
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin-bottom: 10px;
}

.top-header-items {
  align-content: center;
  flex-grow: ;
}

.container.end-header {
  background-color: blue;
  max-width: 1100px;
  padding-left: 10px;
  padding-right: 10px;
}

.small-container-header {
  background-color: rgb(30, 222, 43);
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

/* MAIN */

.main-structure-top {
  background-color: white;
}

.container-main {
  display: flex;
  justify-content: center;
}

.container-bottom-main {
  background-color: forestgreen;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.main-structure-center {
  background-color: #808080;
}

/* FOOTER */

.container-top-footer {
  background-color: rgb(231, 39, 151);
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.container-end-footer {
  display: flex;
  justify-content: space-between;
}

.container-footer {
  display: flex;
  justify-content: space-between;
}
