/* RESET */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* UTILS */

.debug * {
  min-height: 100px;
  padding: 5px;
}

.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.container-pink {
  background-color: pink;
  min-width: 200px;
}

.container-blue {
  background-color: hsl(209.6deg 100% 55.88%);
  min-width: 400px;
}

/* HEADER */

header {
  background-color: hsl(195.52deg 54.72% 79.22%);
}

header .container.top-header {
  background-color: hsl(43.09deg 75.81% 48.63%);
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin-bottom: 10px;
}

.top-header-items {
  align-content: center;
  border: dashed black 2px;
}

.container.end-header {
  background-color: hsl(239.57deg 100% 27.25%);
  max-width: 1100px;
  padding-left: 10px;
  padding-right: 10px;
}

.small-container-header {
  background-color: rgb(30, 222, 43);
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: dashed black 2px;
}

/* MAIN */

.main-structure-top {
  background-color: white;
}

.container-main {
  display: flex;
  justify-content: center;
}

.end-main {
  background-color: hsl(0deg 0% 82.75%);
}

.container-bottom-main {
  background-color: forestgreen;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.main-structure-center {
  background-color: hsl(0deg 0% 82.75%);
}

/* FOOTER */

.container-top-footer {
  background-color: rgb(231, 39, 151);
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.container-footer {
  display: flex;
  justify-content: space-between;
}

.end-footer {
  background-color: blue;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.container-end-footer {
  background-color: hsl(159.84deg 100% 74.9%);
  display: flex;
  justify-content: space-between;

  max-width: 800px;
}
